<h2>Here is a list of all current subrequests!</h2>



<% @subrequests.each do |subrequest| %>
  Comment: <%= subrequest.comment %><br>
  Date: <%= subrequest.date %><br>
  Assistant requesting: <%= subrequest.assistant_requesting %><br>
  Assistant covering: <%= subrequest.assistant_covering %><br>
  <%= link_to "Cover shift", edit_subrequest_path(subrequest) %><br></br>
<% end %>
