<h2>Submit your subrequest here</h2>

<%= form_for @subrequest do |f| %>
  <%= f.label :yogaclass_id, 'Select a Class:' %>
  <%= f.collection_select :yogaclass_id, Yogaclass.all, :id, :name,  { include_blank: true }%>
  <br>
  <br>
  <%= f.label :assistant_id, 'Select Your Name:' %>
  <%= f.collection_select :assistant_id, Assistant.all, :id, :name,  { include_blank: true }%>
  <br>
  <br>
  <%= f.label :comment, 'Comment:' %>
  <%= f.text_area :comment, required: true %>
  <br>
  <br>
  <%= f.label :date, 'Date:' %>
  <%= f.text_area :date, required: true %>
  <br>
  <br>



<%= f.submit 'Submit' %>
	<% end %>
	<br>
	<br>
