<h2>Here is a list of all of the yogaclasses!</h2>

<% @yogaclasses.each do |yogaclass| %>
  <%= link_to yogaclass.name, yogaclass_path(yogaclass) %>
  <%= yogaclass.time %>
  <%= yogaclass.weekday %>
  <%= yogaclass.instructor %>
  <%= link_to "View subrequests for this class", yogaclass_subrequests_path(yogaclass) %><br></br>

<% end %>
