<h2>Here is a list of all of the yogaclasses!</h2>

<% @yogaclasses.each do |yogaclass| %>
  <%= yogaclass.name %>
  <%= yogaclass.time %>
  <%= yogaclass.weekday %>
  <%= yogaclass.instructor %>
  <%= link_to "Go to class page", yogaclass_path(yogaclass) %><br></br>
<% end %>
